:root {
  --main-font: "Montserrat", sans-serif;
  --primary-color: #ffefeb;
  --secondary-color: #fce2db;
  --primary-text-color: #432c7a;
  --gradient-purple: linear-gradient(
    90deg,
    #80489c 0%,
    #432c7a 51.32%,
    #432c7a 100%
  );
  --secondary-text-color: #ff8fb1;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 60px;
  /* gradient-purple */
  background: var(--gradient-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-size: 23px;
  color: var(--secondary-text-color);
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
p {
  font-family: var(--main-font);
  font-weight: normal;
}
img {
  border-radius: 10px;
}
.hero {
  background-color: var(--primary-color);
  text-align: left;
  padding: 10px;
}
.hero-text {
  padding: 20px;
  width: 600px;
}
.hero-link-more {
  color: #432c7a;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.hero-link-more:hover,
.social-links a:hover {
  border-bottom: 3px solid var(--primary-text-color);
}
.hero-link-more img {
  margin-left: 5px;
}

.cards .col {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #000;
}

.card:hover {
  box-shadow: 0px 4px 24px rgba(67, 44, 122, 0.2);
  cursor: pointer;
}

.card-title {
  color: var(--primary-text-color);
  font-weight: bold;
}

.card-image {
  border-radius: 3px;
}
.card-link {
  position: absolute;
  right: 10px;
}

.card-link-gradient {
  background-color: var(--primary-text-color);
  border-radius: 10px;
  color: #fff;
  width: 57px;
  height: 45px;
  background: var(--gradient-purple);
}
.social-links {
  background-color: var(--primary-color);
  padding: 60px;
}
.social-links a {
  color: var(--primary-text-color);
  text-align: center;
  display: block;
  border-bottom: 3px solid transparent;
}
.social-links h5 {
  font-size: 18px;
  font-weight: bold;
}
.social-links p {
  font-size: 14px;
  line-height: 17px;
}
.social-links img {
  width: 165px;
  height: 130px;
}

.footer-info {
  background: var(--gradient-purple);
  padding: 10px;
  color: var(--secondary-text-color);
  align-items: center;
  width: 100%;
}
.footer-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-text p {
  font-size: 18px;
}
.about-picture {
  width: 438px;
  height: 242px;
}
.about-hero {
  background: var(--primary-color);
  padding: 20px;
}

.about-content img {
  border-radius: 10px;
  float: left;
}
.about-content p {
  text-align: justify;
}
.about-illustration {
  position: absolute;
  right: 200px;
  top: 60px;
}

footer {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 960px) {
  .hero {
    margin-top: 20px;
  }
  .hero-text {
    text-align: center;
  }
  .footer-info-content {
    font-size: 14px;
  }
  .about-content h2 {
  }
}
@media (max-width: 720px) {
  .about-content img {
    width: 100%;
  }
}

