:root {
  --main-font: "Montserrat", sans-serif;
  --primary-color: #ffefeb;
  --secondary-color: #fce2db;
  --primary-text-color: #432c7a;
  --secondary-text-color: #ff8fb1;
  --tertiary-text-color: #80489c;
  --gradient-purple: linear-gradient(
    90deg,
    #80489c 0%,
    #432c7a 51.32%,
    #432c7a 100%
  );
}

html,
body {
  height: 100%;
  min-width: 380px;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 64px;

  /* gradient-purple */
  background: var(--gradient-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  font-size: 23px;
  color: var(--secondary-text-color);
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
p {
  font-family: var(--main-font);
  font-weight: normal;
}
img {
  border-radius: 10px;
}
nav {
  background: var(--gradient-purple);
}
nav li:hover,
nav li a:hover {
  color: #fff;
}
nav li {
  list-style: none;
}
nav li a {
  display: block;
  padding: 15px 0;
  font-size: 14px;
  color: var(--tertiary-text-color);
  border-top: 3px solid transparent;
}
nav ul {
  margin-bottom: 0;
  gap: 50px;
  display: flex;
}
nav li.selected a {
  color: var(--secondary-text-color);
  border-top: 3px solid var(--secondary-text-color);
}
.menu {
  display: flex;
  justify-content: space-between;
}
.hero {
  background-color: var(--primary-color);
  text-align: left;
  padding: 10px;
}
.hero-text {
  padding: 20px;
  width: 600px;
}
.hero-link-more {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.hero-link-more:hover,
.social-links a:hover {
  border-bottom: 3px solid var(--primary-text-color);
  color: var(--primary-text-color);
}
.hero-link-more img {
  margin-left: 5px;
}

.cards .col {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #000;
  background: var(--primary-color);
}

.card:hover {
  box-shadow: 0px 4px 24px rgba(67, 44, 122, 0.2);
  cursor: pointer;
  color: var(--tertiary-text-color)
}

.card-title {
  color: var(--primary-text-color);
  font-weight: bold;
}

.card-image {
  border-radius: 3px;
}
.card-link {
  position: absolute;
  right: 10px;
}

.card-link-gradient {
  background-color: var(--primary-text-color);
  border-radius: 10px;
  color: #fff;
  width: 57px;
  height: 45px;
  background: var(--gradient-purple);
}
.social-links {
  background-color: var(--primary-color);
  padding: 60px;
}
.social-links a {
  color: var(--primary-text-color);
  text-align: center;
  display: block;
  border-bottom: 3px solid transparent;
}
.social-links h5 {
  font-size: 18px;
  font-weight: bold;
}
.social-links p {
  font-size: 14px;
  line-height: 17px;
}
.social-links img {
  width: 165px;
  height: 130px;
}

.footer-info {
  background: var(--gradient-purple);
  padding: 10px;
  color: var(--secondary-text-color);
  align-items: center;
  width: 100%;
}
.footer-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-text p {
  font-size: 18px;
}

.about-hero {
  background: var(--primary-color);
  padding: 20px;
}

.about-content img {
  border-radius: 10px;
  float: left;
  border: 1px solid var(--primary-color);
  padding: 5px;
  background-color: var(--primary-color);
}
.about-content p {
  text-align: justify;
}
.about-wrapper {
  position: relative;
}
.about-illustration {
  position: absolute;
  right: 100px;
  bottom: -50px;
}
.about-content a{
  text-decoration: none;
  color: #000;
}
.about-content a:hover{
  cursor: pointer;
  color: var(--tertiary-text-color);
}
.my-work-illustration{
   position: absolute;
   right: 100px;
   bottom: -80px;
}
footer {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 960px) {
  .hero-text {
    text-align: center;
  }
  .footer-info-content {
    font-size: 14px;
  }
  .about-picture {
    width: 100%;
  }
}

@media (min-width: 720px) {
  nav {
    padding: 0 20px;
  }
  .about-illustration, .my-work-illustration{
    position: absolute;
    right: 0;
  }

}
@media (max-width: 980px) {
  .about-content img {
    width: 100%;
    margin-bottom: 20px;
  }
  .about-content {
    text-align: center;
  }
}
